## functions

In [1]:
# prime nunbers

In [2]:
def prime(x):
    if x<=1:
        return 'not a prime'
    elif x==2:
        return 'prime'
    elif x%2==0 or x%2==1:
        for i in range(2,x):
            if x%i==0:
                return 'not a prime'
        return 'prime'
    return 'not a prime'

In [8]:
prime(25)

'not a prime'

In [22]:
def func(x=0,y=0):
    return x+y

In [23]:
func(2)

2

In [13]:
# factorial

In [14]:
def fact(x):
    if x==1:
        return 1
    else:
        return fact(x-1)*x

In [15]:
fact(4)

24

In [31]:
## Exception handling
num1= input('enter the first number')
num2= input('enter the second number')
try:
    div = (num1)/int(num2)
except ZeroDivisionError:
    print('the number not divisble by zero')
    div= None
    print('the division value',div)
except TypeError:
    print('the number given not a numeric')
    div= None
    print('the division value',div)

enter the first number2
enter the second number2
the number given not a numeric
the division value None

## lamda functions

In [32]:
power= lambda x:x**2

In [34]:
power(4)

16

In [35]:
add= lambda x,y: x+y

In [36]:
add(2,3)

5

In [37]:
fun= lambda x: 'even' if x%2==0 else 'odd'

In [39]:
fun(1)

'odd'

In [40]:
func= lambda a,b: a if a>b else b

In [42]:
func(2,3)

3

In [43]:
# filter function

In [44]:
def func(x):
    if x%2==0:
        return True
    else:
        return False

In [45]:
func(2)

True

In [47]:
a=[5,10,20,30,40,11]

In [48]:
list(filter(func,a))

[10, 20, 30, 40]

In [49]:
## map function

In [50]:
def mp(x,y):
    return x**y

In [70]:
x=[1,2,3,4,5]
y=[1,2]

In [71]:
list(map(mp,x,y))

[1, 4]

In [56]:
## fact using lambda function

In [60]:
fact= lambda x: 1 if x==1 else fact(x-1)*x

In [62]:
fact(1)

1

In [63]:
a=[1,2,3,4,5,6]

In [65]:
func= lambda x: ['even' if x%2==0 else 'odd' for x in a]

In [67]:
func(a)

['odd', 'even', 'odd', 'even', 'odd', 'even']

# Pandas

In [72]:
import pandas as pd

## Series

In [74]:
names=['raja','sanjay','ajay']
marks=[90,97,88]

In [75]:
ser1= pd.Series(data=marks,index=names)

In [76]:
ser1

raja      90
sanjay    97
ajay      88
dtype: int64

In [77]:
type(ser1)

pandas.core.series.Series

In [78]:
ser1.shape

(3,)

In [79]:
ser1.size

3

In [80]:
ser1.ndim

1

In [81]:
ser2= pd.Series(data=[70,80,99],index=['raja','sanjay','ajay'])

In [82]:
ser2

raja      70
sanjay    80
ajay      99
dtype: int64

In [83]:
ser1 + ser2

raja      160
sanjay    177
ajay      187
dtype: int64

In [86]:
ser1['raja':'sanjay']

raja      90
sanjay    97
dtype: int64

In [88]:
ser1['sanjay']

97

## Dataframe

In [96]:
dict1= {'names':['sanjay','ajay','ravi','ranjith'],'age':[30,35,27,34],'location':['chennai','mumbai','calcutta','bengaluru']}

In [98]:
df= pd.DataFrame(data=dict1,index=[1,2,3,4])

In [99]:
df

     names  age   location
1   sanjay   30    chennai
2     ajay   35     mumbai
3     ravi   27   calcutta
4  ranjith   34  bengaluru

In [100]:
df.ndim

2

In [101]:
df.shape

(4, 3)

In [102]:
df.size

12

In [103]:
df

KeyError: 1